.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.add-user {
  margin-left: 30%;
}

.example-card{
  width: 44%;
  margin-left: 26%;
  margin-top: 2%;
  padding-bottom: 2%;
} 