.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#warn {
  margin-left: 81%
}

::ng-deep .mat-select-panel .mat-option-text {
  font-size: small;
}