<h1 mat-dialog-title>Add New Cinema</h1>

<mat-dialog-content>
    <form class="example-form" (ngSubmit)='addNewCinema()' [formGroup]='cinemaForm'>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cinema Name</mat-label>
            <input type="text" matInput formControlName="cinemaName">
            <mat-error>Cinema Name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Total Cinema Halls</mat-label>
            <input type="text" matInput formControlName="totalCinemaHalls">
            <mat-error>Cinema Name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cinema Location</mat-label>
            <input type="text" matInput formControlName="cinemaLocation">
            <mat-error>Cinema Location is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select City</mat-label>
            <mat-select formControlName="cityName" required>
                <mat-option *ngFor="let city of cityDisplay" [value]="city.value">
                    {{city.option}}
                </mat-option>
            </mat-select>
            <mat-error>Please choose a City</mat-error>
        </mat-form-field>


        <button mat-flat-button color="primary">Add Cinema</button>
    </form>
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-flat-button id="warn" color="warn" [mat-dialog-close]>Cancel</button>
</div>