.example-card {
    width: 44%;
    height: 67%;
    cursor: pointer;
    margin-left: 48%;
    margin-top: -24%;
}
  
.movie-card{
    max-width: 700px;
    margin-left: 2%;
}  

iframe{
    margin-left: 2%;
    margin-top: 3%;
}
h4{
    margin-top: 3%;
    color: aliceblue;
    margin-left: 2%;
}

.mat-flat-button{
    margin-left: 75%;
}

.movie-details{
        background: url(../../../../assets/Images/images.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;     
}
