.example-card {
    width: 74%;
    height: 60%;
    margin-left: -16%;
    margin-top: 2%;
}

.mat-flat-button {
    margin-left: 4%;
    margin-top: 2%;
}

.show-ticket {
    margin-left: 39%;
}

.card-content{
    margin-left: 2%;
}