table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

td {
  width: 40px;
  font-weight: 600;
  font-size: 1em;
  padding-top: 7px;
  height: 24px;
  color: #fff;
}

.body {
  background: url(../../../assets/Images/banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
}

.seats {
  height: 84%;
  width: 52%;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  color: blue;

}

input[type="checkbox"] {
  outline: 0.5px solid green;
}

.seat_w3ls {
  list-style-type: none;
}

.smallBox::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
}

.yellowBox::before {
  content: "";
  background: yellow;
}

.emptyBox::before {
  content: "";
  background-color: #fff;
}

h1,
p,
li {
  color: aliceblue;
}

.mat-flat-button {
  margin-left: 16%;
  margin-top: 2%;
}

.container {
  padding-bottom: 3%;
}