.example-card {
  max-width: 255px;
  cursor: pointer;
  margin-bottom: 22%;
  margin-left: 12%;
  margin-top: 6%;
}

h3 {
  text-align: center;
}

.card-wrapper {
  justify-content: left;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, calc((100% - 96px) / 4));
  background-color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-card-image {
  height: 87%;
}

h4,
p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}