<h1 mat-dialog-title>Add New CinemaHall</h1>

<mat-dialog-content>
    <form class="example-form" (ngSubmit)='addNewCinemaHall()' [formGroup]='cinemaHallForm'>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cinema Hall Name</mat-label>
            <input type="text" matInput formControlName="cinemaHallName">
            <mat-error>Cinema Hall Name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Total Seats</mat-label>
            <input type="text" matInput formControlName="totalSeats">
            <mat-error>Cinema Name is <strong>required</strong></mat-error>
        </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select Cinema</mat-label>
            <mat-select formControlName="cinemaName" required> 
              <mat-option *ngFor="let cinema of cinemaDisplay" [value]="cinema.value">
                {{cinema.option}}
              </mat-option>
            </mat-select>
            <mat-error>Please choose a Cinema</mat-error>
          </mat-form-field>

        <button mat-flat-button color="primary">Add Cinema Hall</button>
    </form>
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-flat-button id="warn" color="warn" [mat-dialog-close]>Cancel</button>
</div>