<mat-toolbar color="primary">
    <a mat-button routerLink="/user/movie-list">Book My Show</a>
    <a mat-button *ngIf="login">Welcome {{userFullName}}</a>

    <span class="fill-remaining-space"></span>
    <a mat-button *ngIf="!login" routerLink="/user/login">Login</a>
    <a mat-button *ngIf="!login" routerLink="/user/register">Register</a>
    <a mat-button *ngIf="login" routerLink="/user/booking-history">My Bookings</a>
    <a mat-button *ngIf="login" (click)="logOutUser()" routerLink="/user/login">Logout</a>
    <div class="option">
        <mat-select (selectionChange)="onChange()" [(value)]="selectedCity">
            <mat-option *ngFor="let city of cityDisplay" [value]="city.value">
                {{city.option}}
            </mat-option>
        </mat-select>
    </div>
</mat-toolbar>