<mat-toolbar color="primary">
    <span>My Application</span>
    <span class="fill-remaining-space"></span>
    <a mat-button *ngIf="login">Welcome {{userFullName}}</a>
    <a mat-button routerLink="/TicketBooking/dashboard">Admin Dashboard</a>
    <a mat-button routerLink="/TicketBooking/movies">Movies</a>
    <a mat-button routerLink="/TicketBooking/cinemas">Cinema</a>
    <a mat-button routerLink="/TicketBooking/cinema-hall">Cinema Hall</a>
    <a mat-button routerLink="/TicketBooking/show">Show</a>
    <a mat-button routerLink="/TicketBooking/addCity">City</a>
    <a mat-button routerLink="/TicketBooking/booking">Bookings</a>
    <a mat-button  *ngIf="login" (click)="logOutAdmin()" routerLink="/user/login">Logout</a>
  </mat-toolbar>