
<app-customer-navbar></app-customer-navbar>


<ul *ngFor="let showDate of showDates" class="showDate">
   <li> <button (click)="clickCard(showDate.value)" id="primary" mat-flat-button color="primary">{{showDate.value | date:"EEEE, MMMM d"}}
        </button>
        </li>
        </ul>

<mat-card class="show-card" *ngFor="let show of cinemaHallByShowDate"> 
    <mat-card-content>
        <b>{{show.cinemaHall}}</b>
        <ul *ngFor="let startTime of show.startDate" class="startTime">
        
            <li><button mat-flat-button id="primary" (click)="navigateToSeatLayoutPage(show.cinemaHall,startTime.value)"
           
            color="primary">{{startTime.value | date:"hh:mm a"}}</button></li>
            </ul>
        
    </mat-card-content>
  </mat-card>


