<app-customer-navbar></app-customer-navbar>

<div class="movie-details">
    <h3>{{movieDetails.title}}</h3>
    <p>{{movieDetails.releaseDate | date: 'longDate' }}</p>
</div>

<h4 *ngIf="error" class="text-center"> {{errorMessage}}</h4>

<div *ngIf="!error">
    <h3>Select Show Date</h3>
    <div class="option">
    <mat-select (selectionChange)="onChange()" [(value)]="selectedShowDate">
        <mat-option *ngFor="let showDate of showDates" [value]="showDate.value">
            {{showDate.value | date:"EEEE, MMMM d"}}
        </mat-option>
    </mat-select>
</div>
</div>

<mat-card class="show-card" *ngFor="let show of cinemaHallByShowDate">
    <mat-card-content>
        <b>{{show.cinemaHall}}</b>

        <ul *ngFor="let detail of show.details" class="show-time">
            <li><button mat-flat-button id="primary" (click)="navigateToSeatLayoutPage(detail.cinemaHallName,show.cinemaHall,detail.totalSeats,
                detail.startTime)" color="primary">{{detail.startTime | date:"hh:mm a"}}</button></li>
        </ul>

    </mat-card-content>
</mat-card>