  #primary {
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .show-time {
    list-style-type: none;
    display: inline-block;
  }


  .show-card {
    width: 92%;
    margin-left: 2%;
    margin-bottom: 3%;
    margin-top: 2%;
  }

  .movie-details {
    background-color: black;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    color: white;
  }

  h4 {
    margin-top: 10%;
  }

  .option {
    margin-left: 10%;
    margin-top: 2%;
  }

  .mat-select-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }