<app-navbar></app-navbar>
<button mat-flat-button color="primary" (click)="openDialog()">Add New Cinema Hall</button>
<h4>Cinema Hall</h4>

<div class="form-field">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="cinemaHallDisplay" matSort>

        <ng-container matColumnDef="cinemaHallName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cinema Hall Name</th>
            <td mat-cell *matCellDef="let cinemaHall"> {{cinemaHall.cinemaHallName}} </td>
        </ng-container>

        <ng-container matColumnDef="totalSeats">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Seats</th>
            <td mat-cell *matCellDef="let cinemaHall"> {{cinemaHall.totalSeats}} </td>
        </ng-container>

        <ng-container matColumnDef="cinemaName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cinema Name</th>
            <td mat-cell *matCellDef="let cinemaHall"> {{cinemaHall.cinemaId.cinemaName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="length" [pageSize]="pageSize" showFirstLastButtons
        aria-label="Select page">
    </mat-paginator>
</div>