<app-navbar></app-navbar>
<button mat-flat-button color="primary" (click)="navigateToAddMoviePage()">Add New Movie</button>

<h4>All Movies</h4>

<div class="form-field">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="moviesDisplay" matSort>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Movie Name</th>
      <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Release Date</th>
      <td mat-cell *matCellDef="let movie"> {{movie.releaseDate | date: 'longDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Director</th>
      <td mat-cell *matCellDef="let movie"> {{movie.director}} </td>
    </ng-container>

    <ng-container matColumnDef="cast">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cast</th>
      <td mat-cell *matCellDef="let movie"> {{movie.cast}} </td>
    </ng-container>

    <ng-container matColumnDef="durationInMins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let movie"> {{convertMinuteToHour(movie.durationInMins)
        }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let movie" class="action-link">
        <mat-icon (click)="openDialog(movie._id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="length" [pageSize]="pageSize" showFirstLastButtons
    aria-label="Select page">
  </mat-paginator>
</div>